.container {
    padding: 2rem;
    text-align: center;
  }
  .header {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
  .header div {
    flex: 1;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    margin-bottom: 2rem;
  }
  .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
  }
  .body > * {
    display: flex;
    align-items: left;
    justify-content: center;
    text-align: center;
    flex : 1;
  }
  .image {
    width: 100px;
  }
  .buttons > * {
    width: 70px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    margin: 0.5rem;
    font-size: 1rem;
  }